@import "tailwindcss";

th {
    @apply px-6 py-3 text-start text-xs font-medium text-gray-500 uppercase;
}

td {
    @apply px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800;
}

.search-input {
    @apply block min-w-0 grow py-1.5 pr-3 pl-1 text-base text-gray-900 placeholder:text-gray-400 focus:outline-none sm:text-sm/6
}

.btn-custom {
    @apply cursor-pointer rounded-xl hover:opacity-90 box-border border border-transparent focus:ring-4 shadow-xs font-medium leading-5 text-sm px-4 py-2.5 focus:outline-none
}

#input-group {
    @apply w-full flex items-center rounded-md bg-white pl-3 outline-1 -outline-offset-1 outline-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2 has-[input:focus-within]:outline-indigo-600
}