.search-bar {
    display: flex;
    align-items: center;
    width: 100%;
    border: 1px solid;
    overflow: hidden;
}

.search-bar input {
    width: 100%;
}

.content-center {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    align-items: flex-start;
    height: 100vh;
}

.cards-overflow {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    border: 1px solid;
}

.margin-general {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.grid-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.grid-row {
    border: 1px solid;
    display: flex;
    gap: 8px;
    width: 100%;
}

.grid-cell-left {
    flex: 30%;
    font-weight: bold;
    padding: 10px;
    border-right: 1px solid;
}

.grid-cell-right {
    flex: 70%;
    padding: 10px;
}